body {
  font-family: arial, sans-serif;
  line-height: 1.15;
  font-size: 1em;
  }

/*-- Thin --*/
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  }

/*-- Light --*/
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  }

/*-- Medium --*/
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  }
  
img {
	max-width: 100%;
	}

body {
	width: 90%;
	max-width: 60em;
  margin: 0 auto;
}


h1 {
  font: 300 3.6em/1.2 "Raleway", sans-serif;
  color: #333;
  margin-bottom: 0;
  }

ul {
  font: 200 1em/1.15 "Raleway", sans-serif;
  margin-left: 5%;
  }
nav ul {
	list-style: none; 
	padding-left: 0;
	}
	
nav a {
  color: #999;
  text-decoration: none;
  margin-right: 1.5em;
  }

nav a:hover {
  color: #333;
  }

h2 {
  font: 300 2em/1.2 "Raleway", sans-serif;
  color: #999;
  margin-top: 2.5em;
  clear: both;
  }

  .sub {
    font: 100 2.4em/1.2 "Raleway", sans-serif;
    margin-top: 0;
    margin-Left: 5%;
    }

h3 {
  font: 100 1.25em/1.2 "Raleway", sans-serif;
  color: #333;
  }

p {
  font: 200 1em/1.45 "Raleway", sans-serif;
/*   max-width: 75%; */
  }

img.about {
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: -5%;
  }
  
  img.gif {
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: -5%;
  }
  
div.small-img {
	clear: both;
}

.border {
	border: 1px solid #000;
}

/*-- Media Query --*/

@media (min-width: 35em) {

nav li {
  display: inline;
  }
  
}


@media (min-width: 48em) {

img.about,
 img.gif {
  float: left;
  }

}

