body {
  font-family: arial; sans-serif;
  line-height: 1.15;
  font-size: 1em;
}
/*--- resources ----

0. google fonts
https://fonts.google.com

0. font squirrel
https://www.fontsquirrel.com

1. web font generator
https://www.fontsquirrel.com/tools/webfont-generator

2.Font weight values
http:/cssreference.io/typography/#font-weight

3. Font Display Properties
https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display

4. Preload
https://www.zachleat.com/web/preload/
https://www.zachleat.com/web/preload/

5. Web font comparison tool
http:/webfont-test.com

-------------*/
/*-- ultra light--*/
@font-face {
    font-family: muli;
    src: url('../fonts/muli/muli-extralight-webfont.woff2') format('woff2'),
         url('../fonts/mulimuli-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  font-diplay: swap;
}

/*-- semi bold -- */
@font-face {
    font-family: muli;
    src: url('../fonts/muli/muli-semibold-webfont.woff2') format('woff2'),
         url('../fonts/muli/muli-semibold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/*--Typography--*/

h1 {
  font: 700 6em/1.2 "Muli", sanas-serif;
  margin-bottom: 0;
  }

h2 {
  font: 200 6em/1.2 "Muli", sanas-serif;
  font-size: 3.75em;
  margin-top: 0;
  }
